// The ambient light elements
// Ported from Ambient light for YouTube by Wessel Kroos (MIT)

html[data-ambientlight-enabled] {
  /* Ambientlight */

  .ambientlight {
    display: contents;
  }

  .ambientlight__container,
  .ambientlight__video-shadow,
  .ambientlight__filter,
  .ambientlight__projector-list,
  .ambientlight__projector,
  .ambientlight__shadow,
  .ambientlight__clip,
  .ambientlight__projectors {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  &:not([data-theme="dark"]) {
    .ambientlight__shadow {
      filter: invert(1);
    }
  }

  .ambientlight__container {
    z-index: -1; // Fixes glitching in some video's in the small view in Firefox
    top: 0;
    left: 0;
    min-height: 100svh;
    display: block;
    overflow: hidden;
    pointer-events: none;
    user-select: none;
    contain: strict;
    // will-change: transform; // Improves resizing performance, but reduces cpu rendering performance

    &::before {
      content: var(--ytal-debanding-content, none);
      position: absolute;
      z-index: 2;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      background: var(--ytal-debanding-background, none);
      opacity: var(--ytal-debanding-opacity, 0);
      mix-blend-mode: var(--ytal-debanding-blend-mode, none);
    }
  }
  body[data-ambientlight-fixed] {
    .ambientlight__container {
      position: fixed !important;
      height: 100svh;
    }
  }

  // Removes the margin of above absolute elements (ambientlight & ambientlight__top)
  .ambientlight__clearfix {
    display: table;
    clear: both;
  }

  .ambientlight__top {
    position: absolute;
    z-index: -2;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 1px;
    pointer-events: none;
    user-select: none;
  }

  // .ambientlight__clip {
  //   overflow: hidden;
  // }

  .ambientlight__video-shadow {
    display: none;
  }

  .ambientlight__projector {
    contain: strict;
    background: none; //Prevent black canvas edge lines on Firefox
    /* image-rendering: pixelated; */
  }

  // Has -20% performance impact
  .ambientlight__chromium-bug-1123708-workaround {
    position: absolute;
    width: 100%;
    height: 100%;
    transform: scale(2) rotate(30deg);
  }

  .ambientlight__chromium-bug-video-jitter-workaround {
    position: absolute;
    left: calc(50vw - 1px);
    top: calc(100vh - 10px);
    display: block;
    width: 1px;
    height: 1px;
    background: #00000001;
    contain: strict;
    will-change: transform;
    animation: ambientlight-chromium-bug-video-jitter-workaround linear 60s infinite;
  
    @keyframes ambientlight-chromium-bug-video-jitter-workaround {
      0% {
        opacity: .0000000001;
      }
      100% {
        opacity: .0000000002;
      }
    }
  }

  .ambientlight__video-overlay {
    position: absolute;
    display: block;
    width: 1px;
    height: 1px;
    margin-top: 0px;
    pointer-events: none;
    user-select: none;
    transform-origin: center center;
    transform: var(--video-transform);
    transition: opacity .25s .25s;//, margin-top .2s ease-out;

    // Prevent Firefox from stopping the video rendering
    opacity: .9899999; // Firefox

    &--hide {
      opacity: 0.0000001; //Avoid memory leak https://codepen.io/wesselkroos/pen/MWWorLW
      transition: opacity .001s;//, margin-top .2s ease-out;
    }

    @at-root html[data-ambientlight-enabled] video.vjs-tech.ambientlight__chromium-bug-direct-video-overlay-workaround + .ambientlight__video-overlay {
      // Prevent Chromium from reporting dropped video frames and YouTube from lowering the video quality
      opacity: .9989999; // Chromium

      &--hide {
        opacity: 0.0000001; //Avoid memory leak https://codepen.io/wesselkroos/pen/MWWorLW
      }
    }
  }

  .ambientlight__video-debanding {
    position: absolute;
    display: block;
    width: 1px;
    height: 1px;
    margin-top: 0px;
    pointer-events: none;
    user-select: none;

    transform-origin: center center;
    transform: var(--video-transform);
    
    background: var(--ytal-video-debanding-background, none);
    opacity: var(--ytal-video-debanding-opacity, 0);
    mix-blend-mode: var(--ytal-debanding-blend-mode, none);
  }

  // Page background painted behind the ambient light
  .ambientlight__container {
    --ytal-page-background: #fff;
    @supports (background-color: color-mix(in srgb, #000 0%, #000)) {
      --ytal-page-background: color-mix(in srgb, #808080 var(--ytal-page-background-greyness, 0%), #ffffff);
    }
    background: var(--ytal-page-background) !important;
  }
  &[data-theme="dark"] .ambientlight__container {
    --ytal-page-background: #000;
    @supports (background-color: color-mix(in srgb, #000 0%, #000)) {
      --ytal-page-background: color-mix(in srgb, #808080 var(--ytal-page-background-greyness, 0%), #000000);
    }
  }

  // Video shadow
  .ambientlight__video-shadow {
    background: var(--ytal-video-shadow-background, none) !important;
    box-shadow: var(--ytal-video-shadow-box-shadow, none) !important;
  }

  video.vjs-tech {
    transform-origin: center center;

    // Disable the direct composition video overlay that can cause artifacts on Windows
    // https://github.com/WesselKroos/youtube-ambilight/blob/master/TROUBLESHOOT.md#3-nvidia-rtx-video-super-resolution-vsr--nvidia-rtx-video-hdr-does-not-work
    &.ambientlight__chromium-bug-direct-video-overlay-workaround {
      clip-path: inset(0% 0%); // Till Chromium 127?
      filter: opacity(1); // From Chromium 127?
      transform: translate3d(0, 0, 1px); // Firefox
    }
  }
}
